<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.TopicInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.entity.TopicInfo">
        <id column="topic_id" property="topicId"/>
        <result column="topic_name" property="topicName"/>
        <result column="partition_num" property="partitionNum"/>
        <result column="replication_num" property="replicationNum"/>
        <result column="ttl" property="ttl"/>
        <result column="config" property="config"/>
        <result column="user_id" property="userId"/>
        <result column="comments" property="comments"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        topic_id AS topicId,
        topic_name AS topicName,
        partition_num AS partitionNum,
        replication_num AS replicationNum
        ttl,config, user_id AS userId,
        comments,create_time AS createTime
    </sql>

</mapper>
