<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mapper.BusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.entity.Business">
        <id column="business_id" property="businessId"/>
        <result column="business_name" property="businessName"/>
        <result column="business_comments" property="businessComments"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId,
        business_name AS businessName,
        business_comments AS businessComments
    </sql>

</mapper>
